In [1]:
import pandas as pd
from geopy.distance import geodesic
import datetime

In [2]:
data = pd.read_csv(r"Highway-Rail_Grade_Crossing_Accident_Data.csv")

C:\Users\Bram\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (6,7,8,25,26,38,42,50,51,52,53,59,64,69,87,88,89,95,97,98,99,100,101,106,126,127,128,129,130,133,139) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
data2 = pd.read_csv("Crossing_Inventory_Data_-_Current.csv")

C:\Users\Bram\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (11,23,24,25,28,29,30,35,36,39,40,41,48,49,51,53,55,57,62,66,67,70,71,72,73,74,77,78,79,80,81,82,83,89,100,104,106,108,109,114,116,118,120,122,124,126,135,143,145,147,148,152,153,155,156,158,159,161,165,166,167,170,171,173,174,175,176,179,180,184,187,188,189,191,192,195,196,199,202,206,210,212,213,215,227,228,229,230,233,236,237,238) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
data2 = data2[['Crossing ID ','Latitude', 'Longitude']].dropna()

In [5]:
data2.rename(columns = {'Crossing ID ':'Grade Crossing ID'}, inplace = True)

In [6]:
data_geo = pd.merge(data, data2, how='left', on=['Grade Crossing ID'])

In [7]:
data_geo[['Latitude', 'Longitude']]

          Latitude    Longitude
0          36.5037     -119.717
1          35.3543     -118.896
2          34.6765     -86.7424
3          36.5183     -119.723
4           37.052     -120.097
...            ...          ...
239488     43.3158     -70.6874
239489  43.9135390  -69.8806370
239490     45.6012     -68.8184
239491     43.5212     -70.3706
239492     44.2178     -70.5168

[239493 rows x 2 columns]